<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/estilos/header.css">
        <link rel="stylesheet" href="../static/estilos/footer.css">
        <link rel="stylesheet" href="../static/estilos/Inicio.css">
        <link rel="shortcut icon" href="../static/img/logo-n.svg" type="image/x-icon">
        <title>Par en Par | Inicio</title>
    </head>
    <body class="cuerpo">
        <header class="cabecera">
            <img class="logo-responsive" src="../static/img/svg/LogoParEnPar.svg" alt="Logo cabecera">
            <div class="bar-menu">
                <span class="line1"></span>
                <span class="line2"></span>
                <span class="line3"></span>
            </div>
            <div id="caja-boton">
                <div class="div-boton">
                    <img class="sol" width="30px" src="../static/img/svg/sun.svg" alt="Tematica Clara">
                    <img class="luna" width="30px" src="../static/img/svg/moon.png" alt="Tematica Oscura">
                </div>
            </div>
        </header>
        <ul class="nav nav-responsive" id="nav">
            <li class="li">
                <a class="link" href="#">Inicio</a>
            </li>
            <li class="li">
                <a class="link" href="../static/componentes/Servicios.html">Servicios</a>
            </li>
            <li class="li">
                <a class="link" href="../static/componentes/productos.html">Productos</a>
            </li>
            <li class="li">
                <a class="link" href="../static/componentes/Contacto.html">Contacto</a>
            </li>
        </ul>

        <main class="contenido">
            <h1 class="contenido-titulo">Inicio</h1>
            
           <section class="primera-seccion seccion-oscura">
                <div class="imgprimera">
                    <img src="../static/img/contacto/gatoinicio.png" alt= "foto de gatito con campera">
                </div>
                <div class="divmayor">
                    <p>
                        Somos par en par! Una empresa dedicada al cuidado de sus mascotas, marca lider en protección 
                        y cuidado de tus mejores amigos. 
                        Llevamos una trayectoria con mas 30 años en el rubro que nos respaldan!    
                    </p>
                    <div class="divhijo">
                        <img class="corazon" src="../static/img/contacto/corazon.png" alt="corazon pequeño blanco">
                        <p>
                            Vos nos elegís, tus pichichos nos prefieren 😉 Dale lo mejor, ellos se lo merecen.
                        </p>
                    </div>
                </div>
           </section>
           <h3>HISTORIA</h3>
           <section class="segunda-seccion seccion-oscura">
                <div class="divmayor">
                    <p>
                        Actualmente par en par llega a millones de corazones y hogares de todo el mundo pero su punto 
                        de partida comienza en Argentina año 1993 en San Luis, en un pequeño pueblo llamado "Merlo".
                        En ese lugar nació una empresa con una visión única: Hacer que las mascotas y sus dueños
                        fueran más felices. 
                    </p>
                    <p>
                        Fundada por cuatro amigos amantes de los animales. Par en par comenzó como una pequeña tienda
                        de productos para mascotas en el corazón del pueblo. Nuestro amor por los animales y el deseo
                        de brindar servicios excepcionales a la comunidad nos inpiro a dar vida a nuestro sueño.
                    </p>
                </div>
                <div class="imgsegunda">
                <img src="../static/img/contacto/perroinicio.png" alt="perro marron mirando fijo">
                </div>
           </section>
           <section class="tercera-seccion seccion-oscura">
                <div class="imgtercera">
                    <img src="../static/img/contacto/perrofinalinicio.png" alt="perro yendo de paseo con la dueña">
                </div>
                <div class="divmayor">
                    <p>
                        Con el tiempo, par en par se convirtió en mucho más que una tienda. Ofrecemos una amplia gama
                        de productos, desde comida y juguetes hasta ropa y accesorios de lujo.
                        Pero lo que realmente nos destacaba era nuestro enfoque en el bienestar de los animales. 
                        Contratamos a expertos en cuidado de ellos, como veterinarios y entredadores de perros, 
                        brindar servicios de calidad a la comunidad.
                    </p>
                    <p>
                        Ofreciamos servicios de cuidado, desde peluquería hasta entrenamiento y organizábamos eventos
                        mensuales de adopción para ayudar a los animales necesitados a encontrar un hogar amoroso, 
                        así como también talleres de cuidado de mascotas y eventos sociales para que los dueños y sus
                        amigos peludos se conocieran y compartieran su experiecias.
                        Colaboramos con refugios de animales locales y donabamos regularmente a organizaciones 
                        benéficas que ayudaban a los animales necesitados.
                    </p>
                </div>
           </section>
            <div class="ultimodiv">
                <p class="ultimop">
                La historia de par en par es un testimonio de cómo una pasión por los animales puede dar lugar 
                a una empresa exitosa que mejora la vida de las mascotras y sus dueños. Cada día nosotros 
                trabajamos para hacer que las mascotas sean más felices y, en el proceso, hemos encontrado 
                nuestra propia felicidad en la comunidad que hemos creado.
                </p>
            </div>
        </main>
        <footer class="footer">
            <a href="#" class="link-footer">
                <img class="logo-b" src="../static/img/svg/logo-blanco.svg" alt="">
            </a>
            <div class="footer-div">
                <img class="img-seguridad" src="../static/img/svg/Vector.svg" alt="Imagen de seguridad">
                <div class="footer-div-textos">
                    <b>~Dales también tu amor incondicional~</b>
                    <b>parenpartpo@gmail.com</b>
                    <b>@Copyright 2023 - Par en Par</b>
                </div>
                <img class="img-seguridad" src="../static/img/svg/Vector.svg" alt="Imagen de seguridad">
            </div>
        </footer>
        <script src="../static/js/menu.js"></script>
        <script src="../static/js/boton-tematico.js"></script>
    </body>
</html>